<!doctype html>
<title>Knodes</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=navbar>
    <div class=nav>
        <a href="/">
            <img src="/static/images/knodes_white.png">
        </a>
        <div class=input_area>
            <form action="." method="POST">
                <input type="text" placeholder="Title:: Knowledge Node" name="knode" class=knode_text>
                <input type="text" placeholder="Tags" name="tags">
                <input type="submit" name="add" value="Add">
            </form>
        </div>
    </div>
</div>

<div class=container>
    {% block body %}{% endblock %}
</div>
