<!doctype html>
<title>Knodes</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=navbar>
    <div class=nav>
      <img src="/static/images/knodes.png" class=pull-left>
      <form action="." method="POST">
          <input type="text" placeholder="Name:: Knowledge Node" name="knode">
          <input type="text" placeholder="Tags" name="tags">
          <input type="submit" name="my-form" value="Add">
      </form>
    </div>
</div>

<div class=container>
    {% if tags_with_knodes %}
        {% for tag, knodes in tags_with_knodes %}
            <p>
                <div class=tag_group>
                        <h2>{{ tag }}</h2>
                        <div class=knode_group>
                            {% for name, text in knodes %}
                                <div class=knode>
                                    <img src="/static/images/icons/edit-16.png" align=right>
                                    {% if name %}
                                        <h3>{{ name }}</h3>
                                    {% endif %}
                                    {{ text }}
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </p>
        {% endfor %}
    {% else %}
        <em>Unbelievable. No knodes yet.</em>
    {% endif %}
</div>
