<!doctype html>
<title>Knodes</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=navbar>
  <h1>Knodes</h1>
    <div class=nav>
      <form action="." method="POST">
          <input type="text" placeholder="Name: Knowledge"  name="knode">
          <input type="text" placeholder="Tags" name="tags">
          <input type="submit" name="my-form" value="Add">
      </form>
    </div>
</div>

<div class=main>
    {% for tag, knodes in tags_with_knodes %}
        <p>
            <div class=tag>
                    <h2>{{ tag }}</h2>
                    <div class=knode>
                        {% for name, text in knodes %}
                            {{ name }}: {{ text }}
                            <br>
                        {% endfor %}
                    </div>
            </div>
        </p>
    {% else %}
        <em>Unbelievable. No tags yet.</em>
    {% endfor %}

</div>