{% extends "base.html" %}

{% block body %}
    {% if tags_with_knodes %}
        <div class=columns>
            {% for tag, knodes in tags_with_knodes %}
                {% if knodes %}
                    <div class=tag_group>
                        <h2>{{ tag }}</h2>
                        <div class=knode_group>
                            {% for knode_id, name, text, question, answer, comments in knodes %}
                                <div class=knode>

                                    {# <a href="{{ url_for('app.edit', knode_id=knode_id)}}"> #}
                                    <a href="/edit/{{ knode_id }}" knode_id="{{ knode_id }}">
                                        <img src="/static/images/icons/edit-16.png" align=right>
                                    </a>
                                    {% if name %}
                                        <h3>{{ name }}</h3>
                                    {% endif %}
                                    {{ text }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
